<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Antonio Mata">
    <meta name="keywords" content="vinos, mejores vinos, vinos de calidad, buenos vinos ">
    <meta name="description"
        content="Encontrarás los mejores vinos calidad precio, vinos de la tierra, con bodegas de más de 40 años">
    <meta name="revisit-after" content="2 days" />
    <meta name="category" content="Vinos" />
    <link rel="icon" href="../img/favicon.ico" type="image/ico" />
    <title>Contactos</title>
    <link rel="stylesheet" href="../css/estilo.css" type="text/css">

</head>

<body>
    <header>
        <div id="div_header">
            <div>
                <div class="logo_vinosconestilo">
                    <h1><a href="../index.html"><img id="logo" src="../img/Logo2.png" alt="logo"
                                title="vinosconestilo.com" width="350" height="125"></a></h1>

                </div>

                <div class="slogan text_center cursive">
                    <p>¡El mejor vino no es necesariamente el más caro, sino el que se comparte!</p>

                </div>



            </div>
            <br>
            <nav>
                <div class="div_menu text_center purple">
                    <div class="boton_menu purple">
                        <a href="../index.html" class="tex_menu text_blanco">Inicio</a>
                    </div>
                    <div class="boton_menu purple">
                        <a href="../views/productos.html" class="tex_menu text_blanco">Productos</a>
                    </div>
                    <div class="boton_menu purple">
                        <a href="../views/presupuesto.html" class="tex_menu text_blanco">Presupuesto</a>
                    </div>
                    <div class="boton_menu purple" id="op1">
                        <a href="#" class="tex_menu text_blanco">Contactos</a>
                    </div>

                </div>
            </nav>
        </div>


    </header>



    <main class="contenedor float">
        <br>
        <section class="background">
            <h2>Nos encontramos:</h2>
            <div>
                <div id="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d763.4584799283109!2d-4.201756740023637!3d40.05680709411907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41dadad9502371%3A0x7ab760bb36ca3f05!2sSoledad%20Cooperativa%20Fuensalida!5e0!3m2!1ses!2ses!4v1625156447372!5m2!1ses!2ses"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
                <br>
                <div class="text_center">
                    <h3>Nuestra Bodega:</h3>
                    <h4>Soledad Coperativa Fuensalida <br>
                        Avd. de Santiago, 45 <br>
                        45510 - Fuensaleda - Toledo <br>
                        Tlf. +34 925 78 XX XX</h4>
                </div>
            </div>
            <br>
        </section>
        <aside>

            <div class="logo3_text float text_center">
                <a href="#"><img src="../img/logo3.png" alt="logo3" title="logo simple" width="145" height="147"
                        id="logo3"></a>

            </div>
            <div>
                <div class="aside_menu float text_center purple">
                    <hr>

                    <div class="aside_boton_menu ">
                        <a href="../index.html" class="aside_text_menu text_blanco text_center">Inicio</a>
                    </div>
                    <hr>
                    <div class="aside_boton_menu">
                        <a href="../views/productos.html" class="aside_text_menu text_blanco text_center">Productos</a>
                    </div>
                    <hr>
                    <div class="aside_boton_menu">
                        <a href="../views/presupuesto.html"
                            class="aside_text_menu text_blanco text_center">Presupuesto</a>
                    </div>
                    <hr>
                    <div class="aside_boton_menu">
                        <a href="#" class="aside_text_menu text_blanco text_center">Contactos</a>
                    </div>
                    <hr>
                </div>


            </div>
            <div class="aside1 float text_center">
                <a href="#"><img src="../img/estilos.png" alt="estilo" title="etiqueta estilo" id="aside1" width="270"
                        height="346"></a>



            </div>
            <br>
            <hr>
            <br>
            <div class="aside2 float text_center">
                <a href="#"><img src="../img/estilo2.jpg" alt="estilo2" title="Personaloza tu vino" id="aside2"
                        width="270" height="257"></a>

            </div>


        </aside>
    </main>

    <br>
    <hr>
    <br>
    <footer>
        <div class="footer purple text_blanco">
            <div class="aviso_legal cajas_pie float">
                <h2>Información:</h2>
                <hr>
                <h3><a href="../views/aviso_legal.html" title="aviso_legal"
                        class="text_blanco texto_subrayado margin_left">Aviso Legal</a></h3>
                <h3><a href="../views/productos.html" title="productos"
                        class="text_blanco texto_subrayado margin_left">Productos</a></h3>
                <h3><a href="../views/presupuesto.html" title="productos"
                        class="text_blanco texto_subrayado margin_left">Presupuesto</a></h3>
                <h3><a href="../views/contacto.html" title="productos"
                        class="text_blanco texto_subrayado margin_left">Contactos</a></h3>
            </div>
            <div class="direccion cajas_pie float">
                <h2 class="">Contactanos:</h2>
                <hr>
                <h3>Vinos con estilo</h3>
                <h4><img src="../img/direccion.png" alt="direccion" width="32" height="32"> Calle Tejar, 38 <br>
                    45500-Torrijos-Toledo <br><br>
                    <img src="../img/telefono.png" alt="telefono" width="32" height="32"> Telf. +34 xxx xx xx xx <br>
                    <img src="../img/email.png" alt="email" width="32" height="32"> info@vinosconestilo.com
                </h4>



            </div>
            <div class="siguenos redes cajas_pie float">
                <h2>Siguenos:</h2>
                <hr>
                <a href="https://www.facebook.com/" title="facebok"><img src="../img/facebook1.png" alt="facebook"
                        width="64" height="64" id="facebook"></a>
                <a href="https://twitter.com/home?lang=es" title="twitter"><img src="../img/twitter1.png" alt="twitter"
                        width="64" height="64" id="twitter"></a>
                <a href="https://www.instagram.com/" title="instagram"><img src="../img/instagram1.png" alt="instagram"
                        width="64" height="64" id="instagram"></a>


            </div>

            <div class="copyright">
                <br>
                <p>Copyright &copy; Antonio Mata</p>
            </div>
        </div>

    </footer>

    <script src="../js/script.js"></script>

</body>

</html>